* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #5bc9e1;
}
.screen {
  width: 100vw;
  background-color: #5bc9e1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: margin 0.5s ease-out;
}
span {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 30px;
  background-color: rgb(78, 78, 254);
  color: white;
  border-radius: 5px;
}
.screen.up {
  margin-top: -100vh;
}
.screen.down {
  margin-top: +100vh;
}
canvas {
  border: 1px solid black;
  height: 400px;
  width: 600px;
  margin-bottom: 15px;
  border-radius: 20px;
}
